@keyframes peer-pop {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

peer {
  width: 100%;

  display: table;
  
  .peer-id {
    width: 60%;

    display: table-cell;

    vertical-align: middle;

    text-align: left;
  }

  .channel {
    width: 30%;

    display: table-cell;

    vertical-align: middle;

    padding: 0 5%;

    .progress-container {
      position: relative;
      width: 100%;
      height: 0.5em;

      border: solid 1px #00f;

      .progress-bar {
        position: absolute;

        right: 0%;

        width: 0%;

        height: 0.5em;

        background-color: #00f;
      }

      &.finished {
        border: solid 1px #0f0;

        .progress-bar {
          background-color: #0f0;
        }
      }
    }

    .transfer-stats {
      position: relative;
      width: 100%;

      left: 0%;
      top: -2em;

      width: 100%;

      font-size: 1em;

      text-align: center;

      span {
        display: block;
        width: 100%;
      }
    }
  }

  &.old-peer {
    direction: rtl;

    .peer-id {
      text-align: right;
    }

    .channel {
      .progress-bar {
        left: 0%;
        right: auto;
      }
    }
  }

  animation: peer-pop 0.25s 1 linear;
  animation-fill-mode: forward;
}