peer {
  width: 100%;

  display: block;
  
  .peer-id {
    
  }

  .channel {
    width: 100%;

    .progress-container {
      width: 100%;
      height: 2em;

      border: solid 1px #009;

      .progress-bar {
        width: 100%;

        height: 2em;

        background-color: #006;
      }
    }

    .transfer-stats {
      position: relative;
      width: 100%;

      left: 0%;
      top: -2em;

      width: 100%;

      font-size: 1em;

      text-align: center;

      span {
        display: block;
        width: 100%;
      }
    }
  }
}