<ng-view></ng-view>
<!-- <teaser ng-show="mode == 'teaser'"></teaser>
<command-center ng-show="mode == 'commandCenter'"></command-center> -->


<div ng-class="{'door':true, 'upper-door':true, 'open-doors':blastDoorsOpen}">
  <div class="table">

    <div ng-if="blastDoorsMessages.length > 0" class="messages">
      <div class="message" ng-repeat="message in blastDoorsMessages track by $index">{{message}}</div>
    </div>
  </div>
</div>
<div ng-class="{'door':true, 'lower-door':true, 'open-doors':blastDoorsOpen}">
  <div class="table">

    <div ng-if="blastDoorsMessages.length > 0" class="messages">
      <div class="message" ng-repeat="message in blastDoorsMessages track by $index">{{message}}</div>
    </div>
  </div>
</div>