<div class="teaser" fit-text>
  <div fit-text>Drop File or Click Here</div>
  <div fit-text>For Instant File Transfer</div>

  <div class="disclaimer">You must be using the lastest Chrome, Firefox, or Android web browsers.</div>

  <div class="hello-table tease-hello">
    <div class="hello-container">
      <div class="hello">
        <p>Welcome to the new Web.</p>

        <p>End-to-End encryption over Peer-to-Peer channels entirely from your browser without any "apps" or "plugins" is not only possible, but ACTUALLY EXISTS, right now.</p>

        <p>If your browser supports WebRTC (<a href="https://www.google.com/chrome/browser/#eula" ng-click="$event.stopPropagation()">Chrome</a>, <a href="https://mozilla.org/firefox" ng-click="$event.stopPropagation()">Firefox</a>, or <a href="https://play.google.com/store/apps/details?id=com.android.chrome" ng-click="$event.stopPropagation()">Android</a>) you can, right now, share any file you want, audio, video, text with anyone in the world without ANYONE else being able to see or know ANYTHING about that file.</p>

        <p>We can bust through most NATs and firewalls, to deliver true, peer-to-peer, fully end-to-end encrypted communications from an extremely simple and easy to use interface.</p>

        <p>Unless your browser has been compromised, no one can see the content of any files or chat that occurs on https://instafile.io.</p>
        
        This is Alpha-quality, and runs on Firefox, Chrome, and Android browsers. They are the only ones that have completed enough of the <a href="http://dev.w3.org/2011/webrtc/editor/webrtc.html" ng-click="$event.stopPropagation()">WebRTC spec</a>.

        <p><a href="https://github.com/blakelapierre/instantFile" ng-click="$event.stopPropagation()">CODE</a> All of the code is free and open-source. It's the full stack: HTTPS server, secure Websockets for signaling, and an AngularJS frontend.</p>

        Oh, and it's a single line deploy. Just clone the repo and:
        <pre>./deploy</pre>
        For your own personal End-to-End encrypted, Peer-to-Peer file sharing and chat website.
      </div>
    </div>
  </div>
</div>