control-center {
  color: #6f6;
  text-shadow: 0 0 6px #9f9;

  .url {
    color: #fff;
  }

  a.share {
    display: block;

    text-align: center;

    margin: 5%;

    color: #efe;
    font-weight: bold;

    border: solid 1px #fff;
  }
}