control-center {
  text-align: center;

  color: #6f6;
  text-shadow: 0 0 6px #9f9;

  .url {
    margin: 1em;

    font-size: 1.5em;

    color: #000;
    background-color: #fff;
  }

  a.share {
    display: block;

    margin: 5%;

    color: #efe;
    font-weight: bold;

    text-decoration: none;
  }
}